<div class="center-block half-width">
  <div class="panel panel-danger">
    <div class="panel-heading">Page not found</div>
    <div class="panel-body">
      <p>The requested page does not exist </p>
    </div>
  </div>
</div>
