<div class="center-block half-width">
  <div class="panel panel-danger">
    <div class="panel-heading">A critical error has occured ({{vm.code}})</div>
    <div class="panel-body">
      <p>Error: {{vm.msg}}.<p>

      <p>If this error persists, please contact the administrator.</p>
    </div>
  </div>
</div>
