<div class='container'>
  <div class='alert alert-inverse text-center'>
    <h2 class='thin-margins'>Welcome to the Tour de Finance</h2>
  </div>
</div>

<div class='row'>

  <div class='col-md-1'></div>

  <div class='col-md-6'>
    <uib-carousel interval='interval'>
      <uib-slide>
        <div class='center-text'>
          <img src="/static/assets/tour_de_finance_flat.png" />
        </div>
      </uib-slide>
    </uib-caroulsel>
  </div>

  <div class='col-md-1'></div>

  <div class='col-md-3'>

    <div class='panel panel-inverse'>
      <div class='panel-heading'>Login</div>
      <div class='panel-body'>
        <form class='form' ng-submit='vm.login()'>
          <div class='form-group'>
            <input type='text'
              class='form-control'
              name='email'
              ng-model='vm.loginForm.email'
              placeholder='Email'
              required />
          </div>
          <div class='form-group input-group'>
            <input type='password'
              class='form-control'
              name='password'
              ng-model='vm.loginForm.password'
              placeholder='Password'
              required />
            <span class='input-group-btn'>
              <button type='submit' class='btn btn-primary'>Login</button>
            </span>
          </div>
        </form>
      </div>
    </div>

    <div class='panel panel-inverse'>
      <div class='panel-heading'>Don't Have an Account? Register</div>
      <div class='panel-body'>
        <form class='form' ng-submit='vm.register()'>
          <div class='form-group'>
            <input type='text'
              class='form-control'
              name='email'
              ng-model='vm.registerForm.email'
              placeholder='Email'
              required />
          </div>
          <div class='form-group'>
            <input type='password'
              class='form-control'
              name='password'
              ng-model='vm.registerForm.password'
              placeholder='Password'
              required />
          </div>
          <div class='form-group input-group'>
            <input type='password'
              class='form-control'
              name='password'
              ng-model='vm.registerForm.confirmPassword'
              placeholder='Confirm Password'
              required />
            <span class='input-group-btn'>
              <button type='submit' class='btn btn-primary'>Register</button>
            </span>
          </div>
        </form>
      </div>
    </div>

  </div>

  <div class='col-md-1'></div>

</div>
