html, body {
    height: 100%;
}

body {
    background: url('/core/assets/seamless_paper_texture.png') repeat 0 0;
}

.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}

.push, .footer {
    height: 100px;
}

.footer {

}

.alert-footer {
    margin-bottom: 5px;
}

@media (max-width: 767px) {
    .footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.app-container {
    padding-right:10px;
    padding-left:10px;
    padding-top:5px;
}

.half-width {
    width: 50%;
}

.thin-margins {
    margin-top: 5px;
    margin-bottom: 5px;
}

/*-----------------------------------------------------------------------------
 * Bootstrap addons
 *---------------------------------------------------------------------------*/

.panel-inverse {
    border-color: #080808;
}

.panel-inverse > .panel-heading {
    color: #9d9d9d;
    background-color: #222;
    border-color: #080808;
}

.panel-inverse > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #080808;
}

.panel-default > .panel-heading .badge {
    color: #222;
    background-color: #9d9d9d;
}

.panel-default > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #080808;
}

.alert-default {
    color: #333;
    background-color: #f5f5f5;
    /* border-color: #ddd; */
    border-color: #080808;
}

.alert-inverse {
    background-color: #222;
    color: #9d9d9d;
    border-color: #080808;
}

.btn-full-width {
    display: block;
    width: 100%;
}
