<div class="half-width center-block">
  <div class='panel panel-inverse'>
    <div class='panel-heading'><h3>Login</h3></div>
    <div class='panel-body'>
      <div ng-show="vm.error" class="alert alert-danger">{{vm.errorMessage}}</div>
      <form class="form" ng-submit="vm.login()">
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" name="email" ng-model="vm.loginForm.email" required>
        </div>
        <div class="form-group">
          <label>Password</label>
            <input type="password" class="form-control" name="password" ng-model="vm.loginForm.password" required>
          </div>
          <div>
            <button type="submit" class="btn btn-primary" ng-disabled="disabled">Login</button>
            <button type="button" class="btn btn-default" ui-sref="auth/register">Register for a New Account</button>
          </div>
      </form>
    </div>
  </div>
</div>
