<div class="center-block container-fluid">
  <div class="panel panel-inverse">
    <div class="panel-heading">
      <h3>Registered Users</h3>
      (Current time: {{ vm.clock | date : 'EEE, dd MMM yyyy HH:mm:ss' : 'GMT' }} GMT)
    </div>
    <table class="table table-striped">
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Created At</th>
        <th>Last Login At</th>
        <th>Roles</th>
        <th class="text-center">Promote/Demote</th>
        <th class="text-center">Delete</th>
      </tr>

      <tr ng-repeat="user in vm.userlist">
        <td>{{ user.email }}</td>
        <td>{{ user.firstName }} {{ user.lastName}}</td>
        <td>{{ user.createdAt }}</td>
        <td>{{ user.currentLoginAt }}</td>

        <td>
          <span ng-repeat="role in user.roles">
            {{role}}{{$last ? '' : ', '}}
          </span>
        </td>

        <td class="text-center">
          <span ng-if="vm.currUser.email !== user.email && !vm.promoting[user.id]">
            <a href ng-if="user.roles.indexOf('admin') > -1"
                ng-click="vm.demoteUser(user.id, user.email)">
              <i class="glyphicon glyphicon-arrow-down"></i> Demote
            </a>
            <a href ng-if="user.roles.indexOf('admin') <= -1"
                ng-click="vm.promoteUser(user.id, user.email)">
              <i class="glyphicon glyphicon-arrow-up"></i> Promote
            </a>
          </span>
          <span ng-if="vm.promoting[user.id]">
            <i class="glyphicon glyphicon-hourglass"></i>
          </span>
        </td>

        <td class="text-center">
          <a href ng-click="vm.openDeleteUser(user.id, user.email)"
              ng-if="vm.currUser.email !== user.email && !vm.deleting[user.id]">
            <i class="glyphicon glyphicon-remove"></i>
          </a>
          <span ng-if="vm.deleting[user.id]">
            <i class="glyphicon glyphicon-hourglass"></i>
          </span>
        </td>
      </tr>
    </table>
  </div>
</div>
