<div class="container">

  <!-- Profile Panel -->
  <div class="panel panel-inverse">

    <div class="panel-heading">
      <h3>My Profile</h3>
    </div>

    <div class="panel-body">
      <form class="form" ng-submit="vm.updateProfile()">

        <uib-alert type="success"
            close="vm.profileSuccess = false"
            ng-if="vm.profileSuccess">
          Profile successfully updated.
        </uib-alert>

        <div class="form-group input-group">
          <span class="input-group-addon">Username</span>
          <input type="text"
              class="form-control"
              ng-model="vm.user.username"
              disabled />
        </div>

        <div class="form-group input-group">
          <span class="input-group-addon">Email</span>
          <input type="text"
              class="form-control"
              ng-model="vm.user.email"
              disabled />
        </div>

        <div class="form-group input-group">
          <span class="input-group-addon">First Name</span>
          <input type="text"
              class="form-control"
              ng-model="vm.user.firstName" />
        </div>

        <div class="form-group input-group">
          <span class="input-group-addon">Last Name</span>
          <input type="text"
              class="form-control"
              ng-model="vm.user.lastName" />
        </div>

        <div>
          <button type="submit"
              class="btn btn-primary"
              ng-disabled="vm.profileLoading">
            Update Profile
            <i class="glyphicon glyphicon-hourglass"
                ng-if="vm.profileLoading"></i>
          </button>
        </div>

      </form>
    </div>

  </div>

  <!-- Change Password Panel -->
  <div class="panel panel-inverse">
    <div class="panel-heading"><h3>Change Password</h3></div>
    <div class="panel-body">

      <uib-alert type="danger"
          close="vm.closePasswordError()"
          ng-if="vm.passwordError">
        {{ vm.passwordErrorMessage }}
      </uib-alert>

      <uib-alert type="success"
          close="vm.passwordSuccess = false"
          ng-if="vm.passwordSuccess">
        Successfully changed your password
      </uib-alert>

      <form class="form" ng-submit="vm.changePassword()">
        <div class="form-group"
            ng-class="{
              'has-error': vm.passwordError
            }">
          <label>Old Password</label>
          <input type="password"
              class="form-control"
              name="oldPassword"
              ng-model="vm.passForm.oldPassword"
              required />
          <span class="glyphicon glyphicon-remove form-control-feedback"
              ng-if="vm.passwordError"></span>
        </div>

        <div class="form-group"
            ng-class="{
              'has-warning': !vm.passEqual()
            }">
          <label>New Password</label>
          <input type="password"
              class="form-control"
              name="password"
              ng-model="vm.passForm.password"
              required />
          <span class="glyphicon glyphicon-warning-sign form-control-feedback"
              ng-if="!vm.passEqual()"></span>
        </div>

        <div class="form-group"
            ng-class="{
              'has-warning': !vm.passEqual()
            }">
          <label>Repeat New Password</label>
          <input type="password"
              class="form-control"
              name="repeat"
              ng-model="vm.passForm.repeat"
              required />
          <span class="glyphicon glyphicon-warning-sign form-control-feedback"
              ng-if="!vm.passEqual()"></span>
        </div>

        <div>
          <button type="submit" class="btn btn-primary"
              ng-disabled="vm.passwordLoading || !vm.passEqual()">
            Submit
            <i class="glyphicon glyphicon-hourglass"
                ng-if="vm.passwordLoading"></i>
          </button>
        </div>

      </form>
    </div>
  </div>

</div>
